# Directory Shortcuts
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias p="cd ~/programming"
alias d="cd ~/dotfiles/"
alias dl="cd ~/Downloads"
alias dt="cd ~/Documents"
alias data="cd /media/gosi/DATA"
alias tmp='mkdir /tmp/$$ ; cd /tmp/$$'

# Command Shortcuts
alias c++="g++ -Wall -g -D_GLIBCXX_DEBUG -std=c++11 -ftrapv -Wconversion -ftrapv -Wfatal-errors -fsanitize=address,undefined"
alias t="tmux attach -t main || tmux new -s main"
alias c99="c99 -g3 -Wall -Wextra -pedantic-errors"
alias val="valgrind --leak-check=full --show-leak-kinds=all --track-origins=yes --verbose --log-file=valgrind-out.txt"
alias q="exit"
alias :q="exit"

alias shell="ps -p $$ -o comm="
alias pyhttp="python3 -m http.server"
alias ipy="ipython3"
alias calc="python3 -ic 'from math import *'"
alias day="echo 'Current day of the year is $(date +%j)'"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ttrash="rm ~/Downloads/*.torrent"
alias empty-trash="rm -rf ~/.local/share/Trash/*"

# Quick Edits
alias vv="vim ~/.vimrc"
alias vb="vim ~/.bashrc"
alias vz="vim ~/.zshrc"
alias va="vim ~/.aliases"
alias vi3="vim ~/.config/i3/config"
alias vx="vim ~/.Xresources"
alias vs="vim -S ~/.vim/session.vim"

# System Info
alias ff="find . -type f -iname"
alias fd="find . -type d | grep "
alias listen="lsof -i -n -P | grep LISTEN"
alias psg="ps aux | grep"
alias hs="history | grep -i $1"
alias grep="grep --color"
alias rm="rm -vi"
alias rmall="rm -vr * .*"
alias cp="cp -vi"
alias mv="mv -vi"
alias ls="ls --color=auto"
alias ll="ls -laF"
alias lh="ls -A | egrep '^\.'"
alias du="du -h"
alias df="df -h"

# Package Managers
alias apt="sudo apt-get"
alias api="sudo apt-get install"
alias apu="sudo apt-get update"
alias apr="sudo apt-get remove"
alias app="sudo apt-get purge"

# make a directory and cd
function md() {
    mkdir -p "$@" && cd "$_";
}

# open program with the default application - without giving up the terminal
function open () {
  xdg-open "$@">/dev/null 2>&1 &
}

# lazy commit for irrelevant repos
function cz {
    git add .
    git --no-pager diff --patience HEAD
    read "REPLY?commit message(default "z"): "
    if [ "$REPLY" = ""  ]; then
         REPLY="z"
    fi
    git commit -m $REPLY
    git push
}

# random password generator of length N
pwgen () {
    cat /dev/urandom| tr -dc 'a-zA-Z0-9' | fold -w $1 | head -n 1
}

# simplified file extraction
function ext () {
  if [ -f $1 ] ; then
      case $1 in
          *.tar.bz2)   tar xvjf $1    ;;
          *.tar.gz)    tar xvzf $1    ;;
          *.bz2)       bunzip2 $1     ;;
          *.rar)       rar x $1       ;;
          *.gz)        gunzip $1      ;;
          *.tar)       tar xvf $1     ;;
          *.tbz2)      tar xvjf $1    ;;
          *.tgz)       tar xvzf $1    ;;
          *.zip)       unzip $1       ;;
          *.Z)         uncompress $1  ;;
          *.7z)        7z x $1        ;;
          *)           echo "Sorry, don't know how to extract '$1'..." ;;
      esac
  else
      echo "'$1' is not a valid file!"
  fi
}
