# Directory Shortcuts
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias p="cd ~/programming"
alias d="cd ~/dotfiles/"
alias dl="cd ~/Downloads"
alias dt="cd ~/Documents"
alias data="cd /media/gosi/DATA"
alias tmp='mkdir /tmp/$$ ; cd /tmp/$$'

# Command Shortcuts
alias c++="g++ -Wall -g -D_GLIBCXX_DEBUG -std=c++11 -ftrapv -Wconversion -ftrapv -Wfatal-errors -fsanitize=address,undefined"
alias py="pydoc3"
alias t="tmux attach -t main || tmux new -s main"
alias c="c99 -g3 -Wall -Wextra -pedantic-errors"
alias val="valgrind --leak-check=full --show-leak-kinds=all --track-origins=yes --verbose --log-file=valgrind-out.txt"
alias q="exit"
alias :q="exit"

alias shell="ps -p $$ -o comm="
alias pyhttp="python3 -m http.server"
alias ipy="ipython3"
alias notebook="ipython notebook --matplotlib inline"
alias calc="python3 -ic 'from math import *'"
alias day="echo 'Current day of the year is $(date +%j)'"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ttrash="rm ~/Downloads/*.torrent"
alias empty-trash="rm -rf ~/.local/share/Trash/*"

# Quick Edits
alias vv="vim ~/.vimrc"
alias vb="vim ~/.bashrc"
alias ve="vim ~/.emacs"
alias vz="vim ~/.zshrc"
alias va="vim ~/dotfiles/.aliases"
alias vf="vim ~/dotfiles/.functions"
alias vi3="vim ~/.config/i3/config"
alias vx="vim ~/.Xresources"
alias vs="vim -S ~/.vim/session.vim"

# System Info
alias ff="find . -type f -iname"
alias fd="find . -type d | grep "
alias listen="lsof -i -n -P | grep LISTEN"
alias psg="ps aux | grep"
alias hs="history | grep -i $1"
alias grep="grep --color"
alias rm="rm -vi"
alias rmall="rm -vr * .*"
alias cp="cp -vi"
alias mv="mv -vi"
alias ls="ls --color=auto"
alias ll="ls -laF"
alias lh="ls -A | egrep '^\.'"
alias du="du -h"
alias df="df -h"
alias lsb="lsblk -fpo +size"

# Package Managers
alias apt="sudo apt-get"
alias api="sudo apt-get install"
alias apu="sudo apt-get update"
alias apr="sudo apt-get remove"
alias app="sudo apt-get purge"

# open program with the default application - without giving up the terminal
function open () {
  xdg-open "$@">/dev/null 2>&1 &
}

# quickly change directory with fzf
function qcd() {
    pushd $(echo -e "${HOME}\n/usr/local/bin\n/usr/bin" | fzf);
}

# make a directory and cd
function mkd() {
    mkdir -p "$@" && cd "$_";
}

# lazy commit for irrelevant repos
function cz {
    git add .
    git --no-pager diff --patience HEAD
    read "REPLY?commit message(default "z"): "
    if [ "$REPLY" = ""  ]; then
         REPLY="z"
    fi
    git commit -m $REPLY
    git push
}

# random password generator of length N
pwgen () {
	cat /dev/urandom| tr -dc 'a-zA-Z0-9' | fold -w $1 | head -n 1
}

# turn epub files into txt to read in emacs
epub2txt () {
    folder=$(echo ${1/.epub/})
    pandoc -t plain --toc --extract-media=$folder --normalize --wrap=none -o $folder/$folder.txt $1
    # do the rest manually
    emacsclient -c $folder/$folder.txt
}

# simplified file extraction
function ext () {
  if [ -f $1 ] ; then
      case $1 in
          *.tar.bz2)   tar xvjf $1    ;;
          *.tar.gz)    tar xvzf $1    ;;
          *.bz2)       bunzip2 $1     ;;
          *.rar)       rar x $1       ;;
          *.gz)        gunzip $1      ;;
          *.tar)       tar xvf $1     ;;
          *.tbz2)      tar xvjf $1    ;;
          *.tgz)       tar xvzf $1    ;;
          *.zip)       unzip $1       ;;
          *.Z)         uncompress $1  ;;
          *.7z)        7z x $1        ;;
          *)           echo "Sorry, don't know how to extract '$1'..." ;;
      esac
  else
      echo "'$1' is not a valid file!"
  fi
}

# display bash colours in a grid. it might come handy at some point
function colorgrid( )
{
    iter=16
    while [ $iter -lt 52 ]
    do
        second=$[$iter+36]
        third=$[$second+36]
        four=$[$third+36]
        five=$[$four+36]
        six=$[$five+36]
        seven=$[$six+36]
        if [ $seven -gt 250 ];then seven=$[$seven-251]; fi

        echo -en "\033[38;5;$(echo $iter)m█ "
        printf "%03d" $iter
        echo -en "   \033[38;5;$(echo $second)m█ "
        printf "%03d" $second
        echo -en "   \033[38;5;$(echo $third)m█ "
        printf "%03d" $third
        echo -en "   \033[38;5;$(echo $four)m█ "
        printf "%03d" $four
        echo -en "   \033[38;5;$(echo $five)m█ "
        printf "%03d" $five
        echo -en "   \033[38;5;$(echo $six)m█ "
        printf "%03d" $six
        echo -en "   \033[38;5;$(echo $seven)m█ "
        printf "%03d" $seven

        iter=$[$iter+1]
        printf '\r\n'
    done
}
