[user]
	email = ericramsell2@gmail.com
	name = Eric Ramsell
[alias]
	ch = checkout
	co = commit
	st = status -s
	br = branch
	pl = pull --rebase
	hi = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	lol = log --graph --oneline --decorate --color --all
	type = cat-file -t
	dump = cat-file -p
[push]
	default = simple
[core]
	autocrlf = input
	excludesfile =
	editor = vim
[diff]
	algorithm = histogram
	guitool = gvimdiff
	tool = vimdiff
[merge]
	conflictStyle = diff3
[credential]
	helper = cache
