# Directory Shortcuts
#
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias 1d="cd .."
alias 2d="cd ..;cd .."
alias 3d="cd ..;cd ..;cd .."
alias 4d="cd ..;cd ..;cd ..;cd .."
alias 5d="cd ..;cd ..;cd ..;cd ..;cd .."

alias ws="cd ~/workspace"
alias dot="cd ~/workspace/dotfiles"
alias dl="cd ~/Downloads"
alias dt="cd ~/Documents"
alias data="cd /media/gosi/DATA"

# Command Shortcuts
alias a="discord & disown ; google-chrome & disown ; vlc & disown ; Nemo & disown"
alias e="emacsclient"
alias c="g++ -Wall -g -D_GLIBCXX_DEBUG -std=c++11 -ftrapv -Wconversion -ftrapv -Wfatal-errors -fsanitize=address,undefined"
alias t="tmux attach -t main || tmux new -s main"
alias c99="c99 -g3 -Wall -Wextra -pedantic-errors"
alias val="valgrind --leak-check=full --show-leak-kinds=all --track-origins=yes --verbose --log-file=valgrind-out.txt"
alias vi="vim"
alias q="exit"
alias :q="exit"

alias pyhttp="python -m SimpleHTTPServer"
alias ipy="ipython3"
alias notebook="ipython notebook --matplotlib inline"
alias calc="python3 -ic 'from math import *'"
alias day="echo 'Current day of the year is $(date +%j)'"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias o="xdg-open"
alias ttrash="rm ~/Downloads/*.torrent"
alias empty-trash="rm -rf ~/.local/share/Trash/*"

# Quick Edits
alias vv="vim ~/.vimrc"
alias vb="vim ~/.bashrc"
alias ve="vim ~/.emacs"
alias vz="vim ~/.zshrc"
alias va="vim ~/workspace/dotfiles/.aliases"
alias vf="vim ~/workspace/dotfiles/.functions"
alias vi3="vim ~/.config/i3/config"
alias vx="vim ~/.Xresources"

# System Info
alias ff="find . -type f -iname"
alias listen="lsof -i -n -P | grep LISTEN"
alias psg="ps aux | grep"
alias hs="history | grep -i $1"
alias grep="grep --color"
alias rm="rm -vi"
alias rmall="rm -vr * .*"
alias cp="cp -vi"
alias mv="mv -vi"
alias ls="ls --color=auto"
alias la="ls -la"
alias l="ls -lh"
alias l.="ls -A | egrep '^\.'"
alias du="du -h"
alias df="df -h"
alias lsb="lsblk -fpo +size"

# Package Managers
alias apt="sudo apt-get"
alias api="sudo apt-get install"
alias apu="sudo apt-get update"
alias apr="sudo apt-get remove"
alias app="sudo apt-get purge"
