set nocompatible
filetype plugin indent on
syntax on

" various settings
let mapleader = " "
let @/ = ""
set autoindent
set backspace=indent,eol,start
set expandtab
set foldlevelstart=999
set foldmethod=indent
set hlsearch
set ignorecase
set incsearch
set mouse=a
set number
set ruler
set shiftround
set shiftwidth=4
set smartcase
set showmode
set softtabstop=4
set tabstop=8
set textwidth=0
set ttimeout ttimeoutlen=100
set wildignorecase
set wildmenu
set wildmode=full

" copy to the system clipboard
map <C-c> "+y

" Y should yank to EOL
map Y y$

" keep selection when indenting text
vnoremap < <gv
vnoremap > >gv

" play a macro recorded to register q
nnoremap Q @q

" quick blank line from normal mode
nnoremap <Enter> o<Esc>

" ctrl-l to remove search highlighting
noremap <c-l> :nohlsearch<cr><c-l>

" center screen on search result
nnoremap n nzz
nnoremap N Nzz

" move by screen line instead of file line
nnoremap j gj
nnoremap k gk

" tab for next matching item
nnoremap <tab> %
vnoremap <tab> %

" useful black hole delete
nnoremap <silent> <Leader>d "_d
vnoremap <silent> <Leader>d "_d

noremap <C-p>      :bprevious<CR>
nnoremap <C-n>      :bnext<CR>
nnoremap <BS>       :buffer#<CR>

" juggling with tabs
nnoremap tn :tabnew<CR>
nnoremap te :tabedit **/*
nnoremap tf :tabfind *

" juggling with changes
nnoremap <Leader>, *``cgn
nnoremap <Leader>. #``cgN

" emacs-like editing in insert mode
inoremap <C-a> <Home>
inoremap <C-b> <Left>
inoremap <C-e> <End>
inoremap <C-f> <Right>
inoremap <C-k> <Esc>lDa

" ideavim stuff
nmap <Space> m

nnoremap ma :action GotoAction<CR>
vnoremap ma :action GotoAction<CR>

nnoremap me :action SearchEverywhere<CR>
nnoremap ms :action FileStructurePopup<CR>
nnoremap mg :action FindInPath<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gf :action GotoFile<CR>

nnoremap gb :action JumpToLastChange<CR>

nnoremap U :action FindUsages<CR>
nnoremap R :action RenameElement<CR>

nnoremap gh :action Back<CR>
nnoremap gl :action Forward<CR>

inoremap <C-n> <C-o>:action InsertLiveTemplate<CR>
nnoremap <C-I> :action QuickJavaDoc<CR>

nnoremap mp :action PasteMultiple<CR>
nnoremap mP :action PasteMultiple<CR>

nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>

nnoremap cc :action CommentByLineComment<CR>
vnoremap cc :action CommentByLineComment<CR>
