! General settings
URxvt.256-color: true
URxvt.mousewheel: true
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.scrollstyle: rxvt
URxvt.cursorBlink: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.intensityStyles: false

URxvt.font:     xft:terminus:pixelsize=14:antialias=true
URxvt.boldFont: xft:terminus:pixelsize=14:antialias=true

!Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

*.foreground:    white
*.background:    black
*.cursorColor:   #500000
*.highlightColor:#3A3F4B

! Make blue easier to read
*color12: #3333bf
*color4:  #3465A4

!! Transparency (0-255):
!URxvt.transparent:   true
!URxvt.alpha: 240
!URxvt.shading: 10

! Utils:
#ifndef URXVT_PERL_LIB
#define URXVT_PERL_LIB /home/gosi/.urxvt/
#endif
!URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,readline,matcher,selection
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,readline,matcher
URxvt.perl-ext:selection-popup,selection-autotransform,searchable-scrollback
URxvt.perl-lib: URXVT_PERL_LIB

URxvt.matcher.button: 1
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
!URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

! USE selection & mouse-2!  will fill 'primary' clipboard buffer
!URxvt.keysym.C-S-C:   perl:clipboard:copy
!URxvt.keysym.C-S-V:   perl:clipboard:paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
!URxvt.clipboard.copycmd:  xclip -i -selection primary
!URxvt.clipboard.pastecmd: xclip -o -selection primary
!on OSX:
!URxvt.clipboard.copycmd:  pbcopy
!URxvt.clipboard.pastecmd: pbpaste
