! General settings
URxvt.256-color: true
URxvt.mousewheel: true
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.scrollstyle: rxvt
URxvt.cursorBlink: true
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.intensityStyles: false

!URxvt.cursorColor: green
URxvt.foreground: #DDDDDD
URxvt.background: #000000
URxvt.font:     xft:terminus:pixelsize=14:antialias=true
URxvt.boldFont: xft:terminus:bold:pixelsize=14:antialias=true

!URxvt.shading: 22
!URxvt.inheritPixmap: true
!URxvt.tintColor: white
Xft.rgba: rgb
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   true
Xft.lcdfilter:  lcddefault

! Utils:
#ifndef URXVT_PERL_LIB
#define URXVT_PERL_LIB /home/gosi/.urxvt/
#endif
!URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,readline,matcher,selection
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,readline,matcher
URxvt.perl-ext:selection-popup,selection-autotransform,searchable-scrollback
URxvt.perl-lib: URXVT_PERL_LIB

URxvt.matcher.button: 1
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
!URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

! USE selection & mouse-2!  will fill 'primary' clipboard buffer
!URxvt.keysym.C-S-C:   perl:clipboard:copy
!URxvt.keysym.C-S-V:   perl:clipboard:paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
!URxvt.clipboard.copycmd:  xclip -i -selection primary
!URxvt.clipboard.pastecmd: xclip -o -selection primary
!on OSX:
!URxvt.clipboard.copycmd:  pbcopy
!URxvt.clipboard.pastecmd: pbpaste
