
Xterm*font: -misc-fixed-medium-r-normal--18-120-100-100-c-90-iso8859-9
UXterm*font: -misc-fixed-medium-r-normal--18-120-100-100-c-90-iso8859-9
URxvt*font: -misc-fixed-medium-r-normal--18-120-100-100-c-90-iso8859-9
! Use white-on-black colors
XTerm.vt100.reverseVideo: true
UXTerm.vt100.reverseVideo: true

! XTerm already has 256 colors support
! We ask it to set the correct $TERM
XTerm.termName: xterm-256color
UXTerm.termName: xterm-256color

! Start with maximized window
xterm*maximized: true

! Make Alt key behave like in other terminals
XTerm.vt100.metaSendsEscape: true
UXTerm.vt100.metaSendsEscape: true

! Number of lines to save for scrolling
XTerm.vt100.saveLines: 100000
UXTerm.vt100.saveLines: 100000

! Access the system clipboard as expected
xterm*VT100.Translations: #override \
     Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
     Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

XTerm*VT100.cutNewLine: false
XTerm*VT100.cutToBeginningOfLine: false
XTerm*VT100.charClass: 33:48,35:48,37:48,42:48,45-47:48,64:48,95:48,126:48

 *foreground: white
 *background: black

! General settings
 URxvt.256-color: true
 URxvt.mousewheel: true
 URxvt.saveLines: 10000
 URxvt.scrollBar: false
 URxvt.scrollstyle: rxvt
    URxvt.iso14755: false
    URxvt.iso14755_52: false

 Xft.dpi:        92
 Xft.antialias:  true
 Xft.rgba:       rgb
 Xft.hinting:    true
 Xft.hintstyle:  hintslight
 Xft.autohint:   false
 Xft.lcdfilter:  lcddefault
 URxvt.url-launcher: /usr/bin/xdg-open
 URxvt.keysym.Shift-Control-V: eval:paste_clipboard
 URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
